
{% extends "inicio.html" %}
{% load static %}
{% load bootstrap5 %}
{% block principal %}
      <h1>Fale conosco</h1>

      <p>envie uma mensagem através do formulario abaixo ou ligue para o numero de telefone {{ telefone }}
        falando com o responsavel {{ responsavel|upper }}
      </p>
    
      {% if sucesso %}
      <p class ="alert alert-success"> mensagem enviada com sucesso!</p>
  
       {% endif %}
      <br>
       <form action="" method ="post">
        {% csrf_token %}
        {% bootstrap_form form  %}
       <button type = "submit" class= "btn btn-primary">enviar mensagem</button>

      </form>
      
    
      <div>
        <script scr = "{% static 'bootstrap.bundle.min.js' %}"></script>
        

      </div>
    </div>
  {% endblock %}
